In [1]:
import pandas as pd 
train_data=pd.read_csv("Training Data.csv")
test_data=pd.read_csv("Test Data.csv")
train_data.head()

,Id,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,1,1303835,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [2]:
train_data["profession"]=pd.factorize(train_data.profession)[0]
train_data["city"]=pd.factorize(train_data.city)[0]
train_data["state"]=pd.factorize(train_data.state)[0]
train_data["married"] = train_data['married'].replace(['single'],1)
train_data["married"] = train_data['married'].replace(['married'],0)
train_data["house_ownership"] = train_data['house_ownership'].replace(['rented'],1)
train_data["house_ownership"] = train_data['house_ownership'].replace(['owned'],2)
train_data["house_ownership"] = train_data['house_ownership'].replace(['norent_noown'],0)
# train_data["house_ownership"]=pd.factorize(train_data.house_ownership)[0]
#train_data["married"]=pd.factorize(train_data.married)[0]
train_data["car_ownership"]=pd.factorize(train_data.car_ownership)[0]
train_data["assets"]=(train_data["house_ownership"]+train_data["car_ownership"]+1)*train_data["income"]
#train_data["location"]=train_data["city"]+train_data["state"]
train_data.shape

(252000, 14)

In [3]:
test_data["profession"]=pd.factorize(test_data.profession)[0]
test_data["city"]=pd.factorize(test_data.city)[0]
test_data["state"]=pd.factorize(test_data.state)[0]
test_data["married"] = test_data['married'].replace(['single'],1)
test_data["married"] = test_data['married'].replace(['married'],0)
test_data["house_ownership"] = test_data['house_ownership'].replace(['rented'],1)
test_data["house_ownership"] = test_data['house_ownership'].replace(['owned'],2)
test_data["house_ownership"] = test_data['house_ownership'].replace(['norent_noown'],0)
test_data["car_ownership"]=pd.factorize(test_data.car_ownership)[0]
#test_data["married"]=pd.factorize(test_data.married)[0]
test_data["assets"]=(test_data["house_ownership"]+test_data["car_ownership"]+1)*test_data["income"]

#test_data["location"]=test_data["city"]+test_data["state"]

test=test_data.drop(["id","state","profession","city","assets"],axis=1)
test1=test_data.drop(["id","state","profession","city","income","house_ownership","car_ownership"],axis=1)
test.head()

,income,age,experience,married,house_ownership,car_ownership,current_job_years,current_house_years
0,7393090,59,19,1,1,0,4,13
1,1215004,25,5,1,1,0,5,10
2,8901342,50,12,1,1,0,9,14
3,1944421,49,9,0,1,1,3,12
4,13429,25,18,1,1,1,13,11

In [4]:
# from sklearn.model_selection import StratifiedShuffleSplit
# split = StratifiedShuffleSplit(n_splits=1, test_size=0.10, random_state=42)
# for train_index, test_index in split.split(train_data, train_data["risk_flag"]):
#     strat_train_set = train_data.loc[train_index]
#     strat_test_set = train_data.loc[test_index]

# train_features=strat_train_set.drop(["risk_flag","Id","state","profession","city","assets"],axis=1)
# train_label=strat_train_set["risk_flag"]
# test_features=strat_test_set.drop(["risk_flag","Id","state","profession","city","assets"],axis=1)
# test_label=strat_test_set["risk_flag"]
# train_features1=strat_train_set.drop(["risk_flag","Id","state","profession","city","income","house_ownership","car_ownership"],axis=1)
# test_features1=strat_test_set.drop(["risk_flag","Id","state","profession","city","income","house_ownership","car_ownership"],axis=1)
# train_features.head()
train_features=train_data.drop(["risk_flag","Id","state","profession","city","assets"],axis=1)
train_label=train_data["risk_flag"]
train_features1=train_data.drop(["risk_flag","Id","state","profession","city","income","house_ownership","car_ownership"],axis=1)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier , VotingClassifier ,BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
clf21=DecisionTreeClassifier(random_state=0,criterion="entropy",min_impurity_decrease=0,class_weight="balanced",max_depth=38,min_samples_leaf=2)
clf2=RandomForestClassifier(random_state=0,criterion="gini",class_weight="balanced_subsample",n_estimators=3,bootstrap=False,max_depth=25)
clf3=RandomForestClassifier(random_state=0,criterion="entropy",class_weight="balanced_subsample",n_estimators=5,bootstrap=False,max_depth=25)
clf4=RandomForestClassifier(random_state=0,criterion="entropy",class_weight="balanced",n_estimators=3,max_depth=38)
clf5=RandomForestClassifier(random_state=0,criterion="entropy",class_weight="balanced_subsample",n_estimators=70,bootstrap=False,max_depth=25)
clf6=VotingClassifier(estimators= [('clf2',clf2),('clf3',clf3),('clf4',clf4),('clf5',clf5)], voting = 'hard')
clf7=BaggingClassifier(RandomForestClassifier(bootstrap=False,random_state=0,criterion="entropy",class_weight="balanced",n_estimators=3,max_depth=38,min_samples_leaf=2), max_samples= 0.1, max_features = 1.0, n_estimators = 200)
clf8=RandomForestClassifier(bootstrap=False,random_state=0,criterion="entropy",class_weight="balanced",n_estimators=3,max_depth=38,min_samples_split=20,min_samples_leaf=2)
clf9=BaggingClassifier(KNeighborsClassifier(), max_samples= 0.2, max_features = 1.0, n_estimators = 70)
clf10=BaggingClassifier(DecisionTreeClassifier(random_state=0,criterion="entropy",min_impurity_decrease=0,class_weight="balanced",max_depth=38,min_samples_leaf=2), max_samples= 0.6, max_features = 0.6, n_estimators = 20)
clf1=VotingClassifier([('clf6',clf6),('clf7',clf7),('clf8',clf8),('clf9',clf9),('clf10',clf10)],voting = 'hard' )
clf23=AdaBoostClassifier(DecisionTreeClassifier(random_state=0,criterion="entropy",min_impurity_decrease=0,class_weight="balanced",max_depth=38,min_samples_leaf=2),n_estimators = 10, learning_rate = 1)

clf21.fit(train_features,train_label)
clf1.fit(train_features,train_label)
clf2.fit(train_features,train_label)
clf3.fit(train_features,train_label)
clf4.fit(train_features,train_label)
clf5.fit(train_features,train_label)
clf6.fit(train_features,train_label)
clf7.fit(train_features,train_label)
clf8.fit(train_features,train_label)
clf9.fit(train_features,train_label)
clf10.fit(train_features,train_label)
clf23.fit(train_features,train_label)

### using other dataset
clf11=RandomForestClassifier(random_state=0,criterion="gini",class_weight="balanced_subsample",n_estimators=3,bootstrap=False,max_depth=25)
clf12=RandomForestClassifier(random_state=0,criterion="entropy",class_weight="balanced_subsample",n_estimators=5,bootstrap=False,max_depth=25)
clf13=RandomForestClassifier(random_state=0,criterion="entropy",class_weight="balanced",n_estimators=3,max_depth=38)
clf14=RandomForestClassifier(random_state=0,criterion="entropy",class_weight="balanced_subsample",n_estimators=70,bootstrap=False,max_depth=25)
clf15=VotingClassifier(estimators= [('clf12',clf12),('clf11',clf11),('clf13',clf13),('clf14',clf14)], voting = 'hard')
clf16=BaggingClassifier(RandomForestClassifier(bootstrap=False,random_state=0,criterion="entropy",class_weight="balanced",n_estimators=3,max_depth=38,min_samples_leaf=2), max_samples= 0.1, max_features = 1.0, n_estimators = 200)
clf17=RandomForestClassifier(bootstrap=False,random_state=0,criterion="entropy",class_weight="balanced",n_estimators=3,max_depth=38,min_samples_split=20,min_samples_leaf=2)
clf18=BaggingClassifier(KNeighborsClassifier(), max_samples= 0.2, max_features = 1.0, n_estimators = 70)
clf19=BaggingClassifier(DecisionTreeClassifier(random_state=0,criterion="entropy",min_impurity_decrease=0,class_weight="balanced",max_depth=38,min_samples_leaf=2), max_samples= 0.6, max_features = 0.6, n_estimators = 20)
clf20=VotingClassifier([('clf6',clf6),('clf7',clf7),('clf8',clf8),('clf9',clf9),('clf10',clf10)],voting = 'hard' )
clf22=DecisionTreeClassifier(random_state=0,criterion="entropy",min_impurity_decrease=0,class_weight="balanced",max_depth=38,min_samples_leaf=2)

clf11.fit(train_features1,train_label)
clf12.fit(train_features1,train_label)
clf13.fit(train_features1,train_label)
clf14.fit(train_features1,train_label)
clf15.fit(train_features1,train_label)
clf16.fit(train_features1,train_label)
clf17.fit(train_features1,train_label)
clf18.fit(train_features1,train_label)
clf19.fit(train_features1,train_label)
clf20.fit(train_features1,train_label)
clf22.fit(train_features1,train_label)

DecisionTreeClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=38, min_impurity_decrease=0,
                       min_samples_leaf=2, random_state=0)

In [6]:
# predicted_label1=clf1.predict(test_features)
# predicted_label2=clf2.predict(test_features)
# predicted_label3=clf3.predict(test_features)
# predicted_label4=clf4.predict(test_features)
# predicted_label5=clf5.predict(test_features)
# predicted_label6=clf6.predict(test_features)
# predicted_label7=clf7.predict(test_features)
# predicted_label8=clf8.predict(test_features)
# predicted_label9=clf9.predict(test_features)
# predicted_label10=clf10.predict(test_features)

# predicted_label11=clf11.predict(test_features1)
# predicted_label12=clf12.predict(test_features1)
# predicted_label13=clf13.predict(test_features1)
# predicted_label14=clf14.predict(test_features1)
# predicted_label15=clf15.predict(test_features1)
# predicted_label16=clf16.predict(test_features1)
# predicted_label17=clf17.predict(test_features1)
# predicted_label18=clf18.predict(test_features1)
# predicted_label19=clf19.predict(test_features1)
# predicted_label20=clf20.predict(test_features1)
# predicted_label21=clf21.predict(test_features)
# predicted_label22=clf22.predict(test_features1)
# predicted_label23=clf23.predict(test_features)
# # predicted_label01=predicted_label1 +predicted_label2  +predicted_label3+ predicted_label4 + predicted_label5+predicted_label6+predicted_label7+predicted_label8+predicted_label9+predicted_label10
# # predicted_label02=predicted_label11 +predicted_label12  +predicted_label13+ predicted_label14 + predicted_label15+predicted_label16+predicted_label17+predicted_label18+predicted_label19+predicted_label20

In [7]:
# predicted_label=  predicted_label22+predicted_label23 +predicted_label21+predicted_label3+predicted_label8+predicted_label17 + predicted_label9 + predicted_label7+ predicted_label10 + predicted_label19+predicted_label2 + predicted_label11 + predicted_label5

# for i in range(25200):
#     if predicted_label[i]>1:
#         predicted_label[i]=1

# # predicted_label=clf.predict(test_features)
# # predict_train=clf.predict(train_features)

# from sklearn.metrics import precision_score, recall_score,f1_score,confusion_matrix,roc_auc_score
# p=precision_score(test_label, predicted_label)
# re=recall_score(test_label, predicted_label)
# confusion_matrix(test_label,predicted_label)
# r=roc_auc_score(test_label,predicted_label)
# f= f1_score(test_label,predicted_label)
 
# # r_train=roc_auc_score(train_label,predict_train)
# print(f"roc_auc_score :{r} , f1 score : {f} , precission: {p},recall :{re}")
# #print(f"r trian = {r_train}")
# # f1 score=0.62
# #dropping state r= 0.86

In [13]:


arr=[]
for i in range(1,28001):
    arr.append(i)
predicted_data=pd.DataFrame(arr,columns=["id"])
predicted_label1=clf1.predict(test)
predicted_label2=clf2.predict(test)
predicted_label3=clf3.predict(test)
predicted_label4=clf4.predict(test)
predicted_label5=clf5.predict(test)
predicted_label6=clf6.predict(test)
predicted_label7=clf7.predict(test)
predicted_label8=clf8.predict(test)
predicted_label9=clf9.predict(test)
predicted_label10=clf10.predict(test)
predicted_label21=clf21.predict(test)
predicted_label22=clf22.predict(test1)
predicted_label23=clf23.predict(test)
predicted_label11=clf11.predict(test1)
predicted_label12=clf12.predict(test1)
predicted_label13=clf13.predict(test1)
predicted_label14=clf14.predict(test1)
predicted_label15=clf15.predict(test1)
predicted_label16=clf16.predict(test1)
predicted_label17=clf17.predict(test1)
predicted_label18=clf18.predict(test1)
predicted_label19=clf19.predict(test1)
predicted_label20=clf20.predict(test1)
predicted_label01= predicted_label1 +predicted_label2 +predicted_label3 +predicted_label4+predicted_label5+predicted_label6+predicted_label7+predicted_label8+predicted_label9+predicted_label10
predicted_label02=predicted_label11 + predicted_label12 +predicted_label13 + predicted_label14 +predicted_label15 +predicted_label16+predicted_label17 +predicted_label18+predicted_label19+predicted_label20+predicted_label23
predicted_label= predicted_label01 +predicted_label02 + predicted_label21
for i in range(28000):
    if predicted_label[i]>1:
        predicted_label[i]=1
        
predicted_data["risk_flag"]=predicted_label

In [14]:
predicted_data

          id  risk_flag
0          1          0
1          2          0
2          3          0
3          4          1
4          5          0
...      ...        ...
27995  27996          0
27996  27997          0
27997  27998          0
27998  27999          1
27999  28000          1

[28000 rows x 2 columns]

In [15]:
predicted_data.to_csv("predicted.csv",index=False)